* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Alegreya_SC";
  src: url(../fonts/Alegreya_SC/AlegreyaSC-Regular.ttf);
}
@font-face {
  font-family: "Alegreya_Sans";
  src: url(../fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf);
}
@font-face {
  font-family: "Helvetica_Neue";
  src: url(../fonts/helvetica-neue-5/HelveticaNeueLight.otf);
}
@font-face {
  font-family: "Helvetica_Neue-bold";
  src: url(../fonts/helvetica-neue-5/HelveticaNeueBold.otf);
}
@font-face {
  font-family: "Nixie_One";
  src: url(../fonts/Nixie_One/NixieOne-Regular.ttf);
}

:root {
  font-size: 14px;
  --font-family_Alegreya_SC: "Alegreya_SC";
  --font-family_Alegreya_Sans: "Alegreya_Sans";
  --font-family_Helvetica_Neue: "Helvetica_Neue";
  --font-family_Helvetica_Neue-bold: "Helvetica_Neue-bold";
  --font-family_Nixie_One: "Nixie_One";

  --color: #3a4f52;
  --color_buttonbackground: #02383ab2;
  --color_readmore: #4da7ca;
  --color-testimonial_text: #6a6a6a;
}

header {
  display: flex;
  flex-direction: column;
  background: url(../img/Backgrounds/background1.png) center/cover;
  height: 447px;
  gap: 50px;
}

.header_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
}

.header_menu h1 {
  color: white;
  font-family: var(--font-family_Alegreya_SC);
  font-size: 3rem;
  font-weight: 500;
}
.header_menu h1:hover {
  text-decoration: underline;
}

.burger-wrapper {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.burger-wrapper .burger {
  background-color: rgb(255, 255, 255);
  height: 4px;
  width: 30px;
  margin: 3px 0;
}

.header_hero {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.header_hero h1 {
  color: white;
  font-size: 2.75rem;
  font-family: var(--font-family_Nixie_One);
  text-transform: uppercase;
  font-weight: 400;
}
.header_hero h2 {
  color: white;
  font-size: 1.2rem;
  font-family: var(--font-family_Nixie_One);
  text-transform: uppercase;
  opacity: 0.5;
  font-weight: 400;
}

.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main_portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.main_portfolio-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main_portfolio-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 50px;
}

.main_portfolio-header-text h1 {
  font-family: var(--font-family_Alegreya_Sans);
  color: var(--color);
  font-size: 2.58rem;
}
.main_portfolio-header-text h2 {
  font-family: var(--font-family_Alegreya_Sans);
  color: var(--color);
}

.main_portfolio-header-button {
  flex-shrink: 0;
}

.main_portfolio-header-button a {
  color: #3a4f52;
  font-family: var(--font-family_Helvetica_Neue);
  text-decoration: none;
  font-weight: 100;
  border: 1px solid var(--color);
  font-size: 1.3rem;
  padding: 10px 10px;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.main_portfolio-header-button a:hover {
  color: white;
  background-color: #3a4f52;
}

.main_portfolio-header-pictures {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.main_portfolio-header-picture-box {
  position: relative;
  width: 360px;
  height: 214px;
  overflow: hidden;
}

.main_portfolio-header-picture-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s linear, opacity 0.5s linear;
}
.main_portfolio-header-picture-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #02383ab2;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.main_portfolio-header-picture-box:hover img {
  transform: scale(1.2);
  opacity: 0.7;
}

.main_portfolio-header-picture-box:hover::after {
  opacity: 1;
}

.main_portfolio-header-picture-box a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  font-family: var(--font-family_Helvetica_Neue);
  color: white;
  text-decoration: none;
  padding: 7px 13px;
  visibility: hidden;
  z-index: 1;
}

.main_portfolio-header-picture-box:hover a {
  visibility: visible;
}

.main_portfolio-header-picture-box:hover a:hover {
  background-color: white;
  color: black;
}

.main_services {
  background: url(../img/Backgrounds/background2.png) center/cover;
  padding-top: 100px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

.main_services-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.275);
  gap: 50px;
  padding: 50px 50px;
  width: 100%;
}

.main_services-content-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.main_services-content-header h1 {
  color: white;
  font-family: var(--font-family_Alegreya_Sans);
  font-size: 2.56rem;
  font-weight: 500;
}
.main_services-content-header h2 {
  color: white;
  font-family: var(--font-family_Helvetica_Neue);
  font-size: 1.15rem;
  font-weight: 400;
}

.main_services-content-hero {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main_services-content-hero div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.main_services-content-hero div img {
  color: white;
}
.main_services-content-hero div h1 {
  color: white;
  font-family: var(--font-family_Alegreya_Sans);
  font-size: 2.15rem;
  margin-bottom: 20px;
  font-weight: 500;
}
.main_services-content-hero div p {
  font-family: var(--font-family_Helvetica_Neue);
  width: 306px;
  color: white;
}

.main_blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.main_blog_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main_blog-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 50px;
}

.main_blog-header-text h1 {
  font-family: var(--font-family_Alegreya_Sans);
  color: var(--color);
  font-size: 2.58rem;
}
.main_blog-header-text h2 {
  font-family: var(--font-family_Alegreya_Sans);
  color: var(--color);
}

.main_blog-header-button {
  flex-shrink: 0;
}

.main_blog-header-button a {
  color: #3a4f52;
  font-family: var(--font-family_Helvetica_Neue);
  text-decoration: none;
  font-weight: 100;
  border: 1px solid var(--color);
  font-size: 1.3rem;
  padding: 10px 10px;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.main_blog-header-button a:hover {
  color: white;
  background-color: #3a4f52;
}

.main_blog-header-pictures {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.main_blog-header-picture-wrapper {
  display: flex;
  max-width: 390px;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-inline: 10px;
  gap: 20px;
}

.main_blog-header-picture-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main_blog-header-picture-wrapper h1 {
  font-family: var(--font-family_Alegreya_Sans);
  font-size: 2.14rem;
  color: #3a4f52;
}
.main_blog-header-picture-wrapper p:nth-of-type(1) {
  font-family: var(--font-family_Helvetica_Neue);
  color: #6a6a6a;
  font-style: italic;
}
.main_blog-header-picture-wrapper p:nth-of-type(2) {
  font-family: var(--font-family_Helvetica_Neue);
  color: #6a6a6a;
  font-style: italic;
  line-height: 20px;
}
.main_blog-header-picture-wrapper a {
  font-family: var(--font-family_Helvetica_Neue);
  text-decoration: none;
  color: #4da7ca;
}
.main_blog-header-picture-wrapper a:hover {
  text-decoration: underline;
}

.main_parallax {
  background: url(../img/Backgrounds/background6.png) center/cover;
  padding-top: 100px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

.main_parallax-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.275);
  gap: 50px;
  padding: 30px 30px;
  width: 100%;
  text-align: center;
}

.main_parallax-content h1 {
  font-family: var(--font-family_Alegreya_Sans);
  font-size: 2.57rem;
  color: white;
}
.main_parallax-content a {
  color: #ffffff;
  font-family: var(--font-family_Helvetica_Neue);
  text-decoration: none;
  border: 1px solid white;
  font-size: 1.3rem;
  padding: 10px 10px;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.main_parallax-content a:hover {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
}

.main_testimonials-pictures {
  gap: 50px;
  display: flex;
  flex-direction: column;
}

.main_testimonials_header {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.main_testimonials-header-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  margin-bottom: 50px;
}
.main_testimonials-header-text h1 {
  font-family: var(--font-family_Alegreya_Sans);
  font-size: 2.57rem;
  color: #3a4f52;
}
.main_testimonials-header-text h2 {
  font-family: var(--font-family_Helvetica_Neue);
  color: #6a6a6a;
  font-size: 1rem;
  font-weight: 400;
}

.main_testimonials-picture-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  max-width: 345px;
  gap: 20px;
}

.main_testimonials-picture-wrapper img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.main_testimonials-picture-wrapper p:nth-of-type(1) {
  font-family: var(--font-family_Helvetica_Neue);
  color: #6a6a6a;
  line-height: 20px;
}
.main_testimonials-picture-wrapper p:nth-of-type(2) {
  color: #6a6a6a;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: var(--font-family_Helvetica_Neue-bold);
  font-weight: bolder;
  gap: 10px;
}
.Helvetica_Neue-light {
  font-family: var(--font-family_Helvetica_Neue);
  font-weight: 100;
}

.main_contact {
  background: url(../img/Backgrounds/background7.png) center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main_contact_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.275);
  text-align: center;
  gap: 50px;
  margin: 100px;
  padding: 30px;
}

.main_contact_header div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.main_contact_header h1 {
  font-family: var(--font-family_Alegreya_Sans);
  font-size: 2.57rem;
  color: rgb(255, 255, 255);
}

.main_contact_header h2 {
  font-family: var(--font-family_Helvetica_Neue);
  color: white;
}

.main_contact_header div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.main_contact_header form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.main_contact_header input,
.main_contact_header textarea {
  border: 1px solid #cccccc;
  background-color: rgba(58, 79, 82, 0);
  font-family: var(--font-family_Helvetica_Neue);
  padding: 10px;
  max-width: 555px;
  width: 100%;
  border-radius: 5px;
  color: white;
}

.main_contact_header input::placeholder,
.main_contact_header textarea::placeholder {
  color: white;
  font-family: var(--font-family_Helvetica_Neue);
}

.main_contact_header textarea {
  padding-top: 10px;
  padding-bottom: 20px;
  resize: none;
}

.main_contact_header button[type="submit"] {
  width: 120px;
  height: 40px;
  padding: 10px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  font-family: var(--font-family_Helvetica_Neue);
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
  border-radius: 5px;
}

.main_contact_header button[type="submit"]:hover {
  background-color: white;
  color: black;
}

footer {
  background-color: #2b3e51;
  height: 140px;
}

footer p {
  color: white;
  padding: 40px 40px;
  font-family: var(--font-family_Helvetica_Neue);
}
